@forward "core/meta";
@forward "core/root";
@forward "components/basics";
@forward "components/chat";
@forward "components/animations";
@forward "components/server-list";
@forward "components/server-channel";
@forward "components/server-settings";
@forward "components/call";
@forward "components/discover";
@forward "components/find-stage";
@forward "components/user-popout";
@forward "components/member-list";
@forward "components/bd-components";
@forward "components/settings";
@forward "components/home";
@forward "components/nitro";
@forward "components/custom-plugins";
@forward "components/other";