//META{"name":"Novum","description":"Big, enhanced galaxy theme with couple of small features and addons. Background comes from good old Nova theme.","author":"Tomec & Saurian","version":"4.0"}*//{}

/*
CONTACT ME ON DISCORD IF YOU NEED ANY HELP WITH THEME (OR IF YOU SEE SOME GRAY/NOT-THEMED ELEMENTS): tomec#4771

IMPORTANT: CHOOSE DARK VERSION IN DISCORD APPEARANCE SETTINGS!
IMPORTANT: SOME OF FEATURES ARE TESTED ONLY ON WINDOWS VERSION OF DISCORD!
*/

/*
===================================================================
*/

@import url(https://tomec.gitlab.io/novum/theme.css);

/*
===================================================================
*/

/*
CUSTOMIZABLE BACKGROUND IMAGE AND MAIN COLORS BELOW*

*IF YOU WANT TO CUSTOMIZE THOSE COLORS, CHANGE root TO :root 
*/

root {
    --background-img: url("https://i.imgur.com/lWPVyO6.png");
    --default-hover: #c8000026;
    --default-selected: #c800004d;
    --bt-red: #aa0000cc;
    --bt-red-hover: #c80000cc;
    --bt-blue-bg: #222277;
    --bt-blue-bg-hover: #1b1b7e;
    --bt-text: #dddddd;
    --bt-text-hover: #ffffff;
    --scroll-thumb: #db2121b6;
    --scroll-bg: #00000016;
    --scroll-bg-bord: #00000000;
    --markup-normal: #fd686b;
    --markup-normal-transparent: #fd686a18;
    --markup-intensive: #fc3639;
    --markup-blue: #3333ffe6;
    --markup-blue-light: #1b76fee6;
}

/*
--background- : default background image of app
--default- : background of some fields currently selected or hovered by mouse
--bt- : buttons colors (most of buttons edited in theme are blue, red: 'cancel' buttons etc.)
--scroll- : color and background of scrollbars in app
--markup- : color of some details throughout the app (links, protips etc.)
*/

/*
===================================================================
*/

/*
Credits:
- Current background is taken from 'Nova' theme made by https://github.com/din0s/
- Idea of icons in Settings layer is taken from ClearVision theme by https://github.com/Zerthox
- RadialHover addon included in theme is made by https://github.com/rauenzi
- Authors of theme:
    - https://gitlab.com/tomec
    - https://gitlab.com/net-runner
*/
