@mixin nobg {
  background: transparent !important;
}

@mixin btred {
  background: var(--main-color);
  color: var(--button-text);
  &:hover {
    background: var(--main-color-selected);
    color: var(--button-text-selected);
  }
}

@mixin btred_important {
  background: var(--main-color) !important;
  color: var(--button-text) !important;
  &:hover {
    background: var(--main-color-selected) !important;
    color: var(--button-text-selected) !important;
  }
}
