:root {
  // Replace discord root variables
  --background-primary: transparent !important;
  --background-accent: var(--main-color);
  --background-secondary: transparent !important;
  --background-secondary: transparent !important;
  --background-secondary-alt: transparent !important;
  --background-tertiary: rgba(0, 0, 0, 0.1) !important;
  --scrollbar-auto-thumb: var(--scroll-thumb-color);
  --scrollbar-thin-thumb: var(--scroll-thumb-color);
  --scrollbar-auto-track: rgba(0, 0, 0, 0.1) !important;
  --scrollbar-thin-track: transparent !important;
  --text-link: var(--accent-color);
  --text-muted: rgba(255, 255, 255, 0.5);
  --brand-experiment: var(--main-color);
  --control-brand-foreground: var(--main-color);
  --channels-default: rgba(255, 255, 255, 0.7);

  //Initialize theme variables
  --app-background: url("https://przemec.github.io/Novum/assets/images/app.png");
  --main-color: #992727;
  --main-color-selected: #aa2f2f;
  --main-color-semitransparent: #d4393926;
  --main-color-semitransparent-selected: #d336364d;
  --accent-color: #fd9fa0;
  --accent-color-semitransparent: #fca7a918;
  --accent-saturated: #fd7a7c;
  --accent-desaturated: #b47a7a;
  --button-text: #dddddd;
  --button-text-selected: #ffffff;
  --profile-background: url("https://przemec.github.io/Novum/assets/images/profile.png");
  --profile-activity: #6d1515;
  --scroll-thumb-color: #a54b4b;
}

//Background
body::after {
  background-image: var(--app-background) !important;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: left top;
  z-index: -90;
}

//Remove main gray background colors
[class^="appMount-"],
[class^="app-"],
[class^="bg-"] {
  background: transparent !important;
}

//bar at the top of the app
#app-mount > [class^="typeMacOS"],
#app-mount > [class^="typeWindows"] {
  height: 18px;
  margin-top: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 4px;
}

[class^="chat-"] > [class^="content-"] > div {
  background: transparent !important;
}

[class^="wrapper-"] {
  border: none;
}

[class^="sidebar-"] > nav > div:first-child,
[class^="sidebar-"] + div section {
  background: rgba(0, 0, 0, 0.1) !important;
}

//Server list scroller
[class^="scroller-"] {
  background: transparent !important;
}
