/*Theme creator avatars rotating animations*/
[src*="avatars/214676791955161091"][class*=clickable],
[style*="avatars/214676791955161091"][class*=avatar] {
    -webkit-animation: rotate1 40s linear infinite;
    animation: rotate1 40s linear infinite;
}

[src*="avatars/221743310744715265"][class*=clickable],
[style*="avatars/221743310744715265"][class*=avatar] {
    -webkit-animation: rotate2 40s linear infinite;
    animation: rotate2 40s linear infinite;
}

@-webkit-keyframes rotate1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/*Theme init animation*/
.app,
body::after {
    will-change: opacity, filter;
    -webkit-animation: fadeIn 2s ease-out;
    animation: fadeIn 2s ease-out;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        -webkit-filter: blur(10px);
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        -webkit-filter: blur(10px);
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}

/*Disconnect button titl*/
[aria-label=Disconnect] {

    background-color: rgba(0, 0, 0, 0);
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgOWMtMS42IDAtMy4xNS4yNS00LjYuNzJ2My4xYzAgLjM5LS4yMy43NC0uNTYuOS0uOTguNDktMS44NyAxLjEyLTIuNjYgMS44NS0uMTguMTgtLjQzLjI4LS43LjI4LS4yOCAwLS41My0uMTEtLjcxLS4yOUwuMjkgMTMuMDhjLS4xOC0uMTctLjI5LS40Mi0uMjktLjcgMC0uMjguMTEtLjUzLjI5LS43MUMzLjM0IDguNzggNy40NiA3IDEyIDdzOC42NiAxLjc4IDExLjcxIDQuNjdjLjE4LjE4LjI5LjQzLjI5LjcxIDAgLjI4LS4xMS41My0uMjkuNzFsLTIuNDggMi40OGMtLjE4LjE4LS40My4yOS0uNzEuMjktLjI3IDAtLjUyLS4xMS0uNy0uMjgtLjc5LS43NC0xLjY5LTEuMzYtMi42Ny0xLjg1LS4zMy0uMTYtLjU2LS41LS41Ni0uOXYtMy4xQzE1LjE1IDkuMjUgMTMuNiA5IDEyIDl6Ii8+PC9zdmc+) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    opacity: 0.5;

    svg {
        display: none;
    }

    &:hover {
        -webkit-animation: disconnect1 0.06s infinite alternate;
        animation: disconnect1 0.06s infinite alternate;
        background-color: transparent !important;
        opacity: 1;
    }

}

@-webkit-keyframes disconnect1 {
    from {
        -webkit-transform: rotate(-7deg);
        transform: rotate(-7deg);
    }

    to {
        -webkit-transform: rotate(7deg);
        transform: rotate(7deg);
    }
}

@keyframes disconnect1 {
    from {
        -webkit-transform: rotate(-7deg);
        transform: rotate(-7deg);
    }

    to {
        -webkit-transform: rotate(7deg);
        transform: rotate(7deg);
    }
}