.bd-addon-views>button:not([class*=selected]) {
  background-color: transparent !important;
}

.bd-button:not(.bd-addon-button) {
  background-color: var(--bt-red) !important;

  :hover {
    background-color: var(--bt-red-hover) !important;
  }
}

.bd-addon-error {
  background: transparent !important;
}

.bd-tab-bar .bd-tab-item[class*=selected] {
  background-color: var(--bt-red);
}

.bd-addon-error-icon {
  background-color: var(--bt-red);
}

.bd-error-modal {
  background-color: rgba(0, 0, 0, 0.95) !important;
}

.bd-error-modal-footer {
  background-color: rgba(0, 0, 0, 0.95) !important;
}

#bd-pub-button {
  background-color: transparent !important;

  &:hover {
    background-color: var(--bt-red-hover) !important;
  }
}

.bd-toast:not([class*=success]) {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.bd-addon-card {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.bd-addon-button {
  background-color: transparent !important;

}

.bd-controls>.bd-addon-button:last-of-type {
  margin-left: 15px;
}