
[class*="base"] [class*="content"] [class*="container"]:not([class*=embedWrapper]) {
  background-color: transparent!important;
}

[class*="applicationStore"] {
  background-color: transparent!important;
}

[class*="heroButtons"]>button {
  color: var(--bt-text) !important;
}