/* FlowerStar aka Verified SVG ICON*/
[class^="flowerStar-"]>path {
  fill: var(--bt-red) !important;
}

/*Circle button*/
[class^="circleButton-"] {
  background-color: var(--default-hover) !important;

  :hover {
    background-color: var(--default-selected) !important;
  }
}

/* Mic test button */
[class^="micTestButton-"] {
  background-color: var(--bt-red) !important;

  :hover {
    background-color: var(--bt-red-hover) !important;
  }
}

/*Permissions modal */
#permissions-modal {
  background-color: rgba(0, 0, 0, 0.9) !important;

  div {
    background-color: rgba(0, 0, 0, 0.9) !important;

    div {
      background-color: rgba(0, 0, 0, 0.9) !important;
    }
  }
}

[class*="bd-button-title"] {
  background-color: var(--bt-red) !important;
}

[class*="bd-view-button"][class*="selected"] {
  background-color: var(--bt-red) !important;
}

/* BarFill */
[class^="barFill-"] {
  background-color: var(--bt-red) !important;
}

//Color primary
[class^="collorPrimary-"] {
  background-color: var(--bt-red) !important;
}

//Color brand buttons

button[class*="colorBrand-"]:not([class*="lookBlank"]) {
  background-color: var(--bt-red) !important;
}

button[class*="lookOutlined-"]:not([class*="lookBlank"]) {
  color: var(--bt-text);
  border-color: transparent !important;
}

//Remove discord wordmark
[class*="wordmark"] {
  display: none;
}

//Rotate home icon
[class*="homeIcon"] {
  transform: rotate(-180deg);
}

//Home icon recolor
[data-list-item-id="guildsnav___home"]:hover>div {
  background-color: var(--bt-red) !important;
}

[data-list-item-id="guildsnav___home"][class*="selected"]>div {
  background-color: var(--bt-red) !important;
}

/* Inputs */
input {
  transition: all 0.3s;
}

input:focus {
  border-color: var(--markup-blue) !important;
  box-shadow: 0px 0px transparent;
}

/*Krisp noice cancellation popout*/
[class*=noiseCancellationPopout] {
  background: rgba(0, 0, 0, 0.95) !important;
}

// Keyboard shortcuts modal
[class*=keyboardShortcutsModal] {
  background: rgba(0, 0, 0, 0.98) !important;
}