/* FlowerStar aka Verified SVG ICON*/
[class^="flowerStar-"]>path {
  fill: var(--bt-red) !important;
}

/*Circle button*/
[class^="circleButton-"] {
  background-color: var(--default-hover) !important;

  :hover {
    background-color: var(--default-selected) !important;
  }
}

/* Mic test button */
[class^="micTestButton-"] {
  background-color: var(--bt-red) !important;

  :hover {
    background-color: var(--bt-red-hover) !important;
  }
}

/*Permissions modal */
#permissions-modal {
  background-color: rgba(0, 0, 0, 0.9) !important;

  div {
    background-color: rgba(0, 0, 0, 0.9) !important;

    div {
      background-color: rgba(0, 0, 0, 0.9) !important;
    }
  }
}

[class*="bd-button-title"] {
  background-color: var(--bt-red) !important;
}

[class*="bd-view-button"][class*="selected"] {
  background-color: var(--bt-red) !important;
}

/* BarFill */
[class^="barFill-"] {
  background-color: var(--bt-red) !important;
}

//Color primary
[class^="collorPrimary-"] {
  background-color: var(--bt-red) !important;
}

//Color brand buttons

button[class*="colorBrand-"]:not([class*="lookBlank"], [aria-label='Turn On Camera'], [aria-label='Share Your Screen']) {
  background-color: var(--bt-red) !important;
}

button[class*="lookOutlined-"]:not([class*="lookBlank"]) {
  color: var(--bt-text);
  border-color: transparent !important;
}

//Replace discord wordmark with theme name
[class*="wordmark"] {

  &:after {
    content: "Novum";
    font-size: 16px;
    font-family: var(--font-primary);
    font-weight: bold;
  }

  svg {
    display: none;
  }

}

//Rotate home icon
[class*="homeIcon"] {
  transform: rotate(-180deg);
}

//Home icon recolor
[data-list-item-id="guildsnav___home"]:hover>div {
  background-color: var(--bt-red) !important;
}

[data-list-item-id="guildsnav___home"][class*="selected"]>div {
  background-color: var(--bt-red) !important;
}

/* Inputs */
input {
  transition: all 0.3s;
}

input:focus {
  border-color: var(--markup-blue) !important;
  box-shadow: 0px 0px transparent;
}

/*Krisp noice cancellation popout*/
[class*=noiseCancellationPopout] {
  background: rgba(0, 0, 0, 0.95) !important;
}

// Keyboard shortcuts modal
[class*=keyboardShortcutsModal] {
  background: rgba(0, 0, 0, 0.98) !important;
}

//Remove discord support button
[href='https://support.discord.com'] {
  display: none !important;
}

//Remove notification bell from channel
[aria-label="Notification Settings"] {
  display: none !important;
}

//https://gitlab.com/uploads/-/system/project/avatar/12978772/NovumThemeLogo.png?width=1

//Add novum icon into settings
[class*=socialLinks]::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  margin-top: -5px;
  margin-left: 8px;
  background: url(https://gitlab.com/uploads/-/system/project/avatar/12978772/NovumThemeLogo.png?width=1) center/cover no-repeat;

}

//Where would u like to go? popout aka quickswitcher component

[aria-label='Quick switcher'] {
  background: rgba(0, 0, 0, 0.95) !important;
}

//Bot pill
[class*=botTagRegular] {
  background: var(--bt-red) !important;
}

//Random-located focus-locking popouts 
[class*=focusLock] [class*=root] {
  background-color: rgba(0, 0, 0, 0.95) !important;

  [class*=directionRow],
  [class*=body],
  [class*=topSection] {
    background-color: rgba(0, 0, 0, 0.95) !important;
  }

  [class*=avatar] {
    border: none;
  }

  [class*=message] {
    background-color: transparent !important;
    border: none !important;
  }
}

//Radiogroup directionrow selected
[role=radiogroup] [class*=directionRow][aria-checked=true] {
  background-color: rgba(0, 0, 0, 0.3) !important;

  [class*=radioBar] div:not([class*=info]) circle {
    fill: var(--bt-red);
  }
}




[class*=mediaBarWrapper] {

  [class*=fakeEdges] {
    background-color: var(--bt-red);

    &::after,
    &::before {
      background-color: var(--bt-red);
    }
  }

  [class*=mediaBarProgress] {
    background-color: var(--bt-red);

    &::after,
    &::before {
      background-color: var(--bt-red);
    }

    [class*=mediaBarGrabber] {
      background-color: var(--bt-red);
    }
  }

  [class*=bubble] {
    background-color: var(--bt-red);
  }
}


[class*=embedVideo] {
  [class*=playPausePop] {
    display: none !important;
  }
}

[aria-checked=true] [class*=iconContainer] svg>path:first-of-type {
  fill: var(--bt-red);
}

[class*=streamPreviewWrapper] [class*=streamPreview] {

  [class*=previewContainer] {
    background-color: transparent !important;
    border: transparent;
  }

  background-color: rgba(0, 0, 0, 0.95) !important;
  border: transparent;
}