/*Server catalogs*/
[class*="wrapper"][class*="guilds"] {
  [class*="folder"],
  [class*="closedFolderIconWrapper"],
  [class*="expandedFolderBackground"] {
    background: rgba(0, 0, 0, 0) !important;
  }

  [class*="circleIconButton"]:hover,
  [class*="listItemWrapper"] > a:hover {
    background: rgba(0, 0, 0, 0.7);
  }

  [class*="folderIconWrapper"],
  [class*="expandedFolderBackground"]:not([class*="collapsed"]) {
    background: rgba(0, 0, 0, 0.5) !important;
    border-radius: 20px;
  }
}
