@use "../core/mixins" as m;

//buttons
button {
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
button[class*="lookFilled_"][class*="colorGrey"],
button[class*="lookFilled_"][class*="colorPrimary_"] {
  background: var(--accent-color-semitransparent) !important;
  color: var(--button-text) !important;
  &:hover {
    background: var(--accent-color-semitransparent) !important;
    color: var(--button-text-selected) !important;
  }
}
button[class*="colorBrand_"]:not([class*="lookBlank"], [class*="lookLink"]) {
  @include m.btred;
}
button[class*="colorBrand_"][class*="lookInverted"] {
  background: var(--button-text-selected);
  color: var(--main-color-selected);
  &:hover {
    background: var(--button-text);
    color: var(--main-color);
  }
}
button[class*="lookOutlined_"]:not([class*="lookBlank"]) {
  color: var(--button-text);
  border-color: transparent !important;
}
button[class*="colorGreen_"],
button[class*="colorRed_"] {
  @include m.btred_important;
}
button[class*="lookLink_"] {
  color: var(--button-text);
  &:hover {
    text-decoration: none !important;
    color: var(--button-text-selected);
  }

  &[class*="colorLink_"] {
    color: var(--accent-color);
    &:hover {
      color: var(--accent-saturated);
    }
  }

  & > [class*="contents"] {
    background: none !important;
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
  }
  &:hover > [class*="contents"] {
    background: none !important;
    border-color: currentColor;
  }
}

//Switches
[class^="control_"] [class^="container_"] {
  background: var(--accent-color-semitransparent) !important;
}
[class^="control_"] [class^="container_"][style*="rgb(35,"] {
  background: var(--main-color) !important;
  [class^="slider"] path {
    fill: var(--main-color);
  }
}

//Inputs
input {
  transition: all 0.3s;
}
input:focus {
  border-color: var(--accent-desaturated) !important;
  box-shadow: none transparent;
}
[class^="inputDefault"] {
  background: rgba(0, 0, 0, 0.3);
}

//checkboxes
[aria-checked="true"] [class*="iconContainer"] svg > path:first-child {
  fill: var(--main-color);
}
[aria-checked="true"] [class*="iconContainer"] svg > path:last-child {
  fill: var(--button-text-selected) !important;
}

//select body
[class^="select"][class*="lookFilled"] {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}
[class^="select"][class*="lookFilled"][class*="open"] {
  background: rgba(0, 0, 0, 0.9);
}
//select popout
[class^="popout"][role="listbox"] {
  background: rgba(0, 0, 0, 0.9);
}

//Bars
[class^="slider_"] > [class^="bar_"] {
  background: var(--accent-color-semitransparent) !important;
  [class^="barFill_"] {
    background: var(--main-color) !important;
  }
}

//Color primary
[class^="colorPrimary_"] {
  background: var(--main-color) !important;
}

//Tooltip
[class*="tooltipGrey"],
[class*="tooltipPrimary"],
[class*="tooltipGreen"] {
  background: rgba(0, 0, 0, 0.95) !important;
  border: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;

  [class*="tooltipPointer"] {
    border-top-color: rgba(0, 0, 0, 1) !important;
  }
}
[class^="layerContainer_"] > [class*="toolbar"] {
  background: rgba(0, 0, 0, 0.95) !important;
  border: 2px solid rgba(0, 0, 0, 1);

  &::before {
    border-top-color: rgba(0, 0, 0, 1) !important;
  }
}

//modal backdrop
[class^="backdrop"] {
  background: linear-gradient(#00000022, #000000ff) !important;
}

//protips
[class^="pro_"],
[class*="protip"] {
  color: var(--accent-saturated) !important;
}
