@use "../core/mixins" as m;

//addon error popout
.bd-error-modal,
.bd-error-modal-footer {
  background: rgba(0, 0, 0, 0.9) !important;
  box-shadow: none !important;
}
.bd-tab-bar .bd-tab-item.selected {
  background: var(--main-color);
}
//single error
.bd-addon-error {
  background: transparent !important;
}
.bd-addon-error-icon {
  background: var(--main-color);
}

//page header in settings
.bd-settings-title {
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
}

//small popout at the bottom of the screen after loading theme
.bd-toast:not([class*="success"]) {
  background: rgba(0, 0, 0, 0.9) !important;
}

//settings section
//button near page title ("Open Plugins Folder" etc.)
.bd-button:not(.bd-addon-button):not(.bd-changelog-button) {
  @include m.btred;
}
//switches
.bd-switch-body {
  background: var(--accent-color-semitransparent) !important;
}
.bd-switch-checked .bd-switch-body {
  background: var(--main-color) !important;
  path {
    fill: var(--main-color);
  }
}

//plugins and themes pages
.bd-addon-views > button {
  background: transparent !important;
}
.bd-addon-views > button.selected {
  background: var(--main-color-selected) !important;
}
.bd-addon-card {
  background: rgba(0, 0, 0, 0.2) !important;
}
.bd-addon-button {
  background: transparent !important;
}
//space between edit and delete buttons
.bd-controls > .bd-addon-button:last-of-type {
  margin-left: 10px;
}
