@use "../core/mixins" as m;

// Channel Textarea (big chat textinput) or CHAT
[class^="channelTextArea"] {
  border-radius: 8px;

  [class*="scrollableContainer"] {
    background: rgba(0, 0, 0, 0.1);

    [class^="attachWrapper"] {
      border-right-color: rgba(255, 255, 255, 0.1);
    }
  }

  //autocomplete popout after typing @
  [class^="autocomplete"] {
    background: transparent !important;
  }
  [class^="autocompleteInner"] {
    background: rgba(0, 0, 0, 0.9) !important;
    border-color: transparent !important;
  }
  [class*="autocompleteRow"] > [class*="selected"] {
    background: var(--main-color-semitransparent-selected) !important;
  }
  //hidden tip container above the chat input
  & > [class^="container_"] > [class^="containerBackground"] {
    background: rgba(0, 0, 0, 0.95) !important;
    border-color: transparent;
  }

  //Remove discord gift button from chat
  [class*="inner"] [class^="buttons"] > [class*="grow"] {
    display: none !important;
  }
}

//floating thread modal
[class*="floating"] {
  & > section {
    background: rgba(0, 0, 0, 0.1) !important;
  }
  &::before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    background: var(--app-background) center / cover no-repeat fixed;
    background-position: unset;
  }
}

// Emote, Gif, Sticker popout
[class^="drawerSizingWrapper_"] > [class^="contentWrapper_"] {
  background: rgba(0, 0, 0, 0.9) !important;

  [class^="navList_"] > [class^="navItem_"] > [class^="navButtonActive_"] {
    background: var(--main-color) !important;
  }
  [class^="unicodeShortcut_"],
  [class^="inspector_"] {
    background: #000;
  }
}

//Follow Button near channel name
[class*="followButton"] {
  @include m.btred_important;
}

//Buttons in private conversation - after user invited you (accept, ignore, block, report)
[id^="chat-messages"] [class*="description"] {
  [class*="colorBrand"] {
    @include m.btAccept_important;
  }
  [class*="colorPrimary"] {
    @include m.btTransparent_important;
  }
  [class*="coloRed"] {
    @include m.btred_important;
  }
}

//Follow Button near chat
[class*="chatContent"] form > [class^="wrapper"] {
  background: rgba(0, 0, 0, 0.3);
}
[class*="chatContent"] form > [class^="wrapper"] button:not([class*="lookBlank"], [class*="barButtonBase"]) {
  @include m.btred_important;
}

//reaction below message
[class*="reactions_"] [class*="reaction_"]:not([class^="reactionCount"], [class^="reactionBtn"]) {
  background: rgba(0, 0, 0, 0.2) !important;
  transform: scale(1.07);
  display: flex;
  align-content: center;

  &:hover {
    border-color: transparent;
  }

  img {
    transform: scale(1.2);
  }

  //your reaction below message
  &[class*="reactionMe"] {
    border-color: var(--main-color);
    background: rgba(0, 0, 0, 0.4) !important;
  }
}
[class*="reactionCount_"] {
  color: var(--accent-color) !important;
}

//Chat message popouts
[class^="layerContainer_"] [class^="layer_"] {
  //See who reacted popout
  [class*="reactors_"] {
    background: transparent !important;

    div:not([class*="contents"]) {
      background: rgba(0, 0, 0, 0.95) !important;
    }
  }

  //Chat message right click popout
  [class*="menu_"] {
    background: rgba(0, 0, 0, 0.95) !important;
    box-shadow: none !important;

    [class*="wrapper_"] img {
      width: 30px !important;
      height: 30px !important;
    }
  }
}

//Pinup popout background
[class*="messagesPopoutWrap"] {
  background: rgba(0, 0, 0, 0.95) !important;
}

//hovering file above discord app - upload popout
[class^="uploadDropModal"] {
  [class^="bgScale"] {
    background: var(--profile-activity) !important;
  }
  [class*="icons"] {
    filter: hue-rotate(110deg) contrast(1.3) !important;
  }
}

//Edit uploaded file popout
[class^="uploadModal"] {
  background: rgba(0, 0, 0, 0.95) !important;
  box-shadow: none !important;

  [class^="footer"] {
    background: rgba(0, 0, 0, 0.95) !important;
  }
  label[class*="checked"] [class*="checkbox"] {
    background: var(--main-color) !important;
    border-color: transparent !important;

    svg path {
      fill: #fff !important;
    }
  }
}
//loading panel while uploading file
[id^="message-content-Uploader"] > div[class*="attachment"] {
  background: rgba(0, 0, 0, 0.3);
  border-color: #000000;

  [class*="progressBar"] {
    background: var(--accent-color) !important;
  }
}

//Embed
[id^="message-accessories"] > [class^="embedWrapper"] {
  background: var(--accent-color-semitransparent) !important;
  border-color: var(--accent-saturated) !important;
}

//attachments like photos or files
[class^="messageAttachment"] {
  border-color: #000 !important;

  //file attachment, txt-like file attachment
  & > [class^="attachment"],
  & > [class^="embedWrapper"] {
    background: rgba(0, 0, 0, 0.2) !important;
  }

  code {
    background: transparent !important;
  }
  [class^="textContainer"] + div {
    background: rgba(0, 0, 0, 0.2) !important;
  }
}

//someone else's mention
[id^="message-content"] [class*="mention"] {
  color: var(--accent-desaturated);
  background: rgba(0, 0, 0, 0.2) !important;
  border-radius: 3px;

  &:hover {
    background: rgba(0, 0, 0, 0.4) !important;
  }
}

//your mention
[class*="mentioned"] {
  background: linear-gradient(90deg, transparent 5px, var(--accent-color-semitransparent) 5px, transparent 80%) !important;
  [class*="mention"] {
    color: var(--accent-saturated);
    background: rgba(0, 0, 0, 0.2) !important;
  }

  &::before {
    left: 1px;
    border-radius: 5px 0 0 5px;
    background: var(--accent-saturated);
    border-left: 2px solid var(--accent-saturated);
  }
}

//Chat message buttons container
[class*="message"] [class*="buttonContainer"] [class*="container"] [class*="wrapper"] {
  background: rgba(0, 0, 0, 0.95);
}

//Inbox popout aka recentMentionsPopout
[class*="recentMentionsPopout"] {
  background: rgba(0, 0, 0, 0.95) !important;
}

//Emojipicker from chat
[class*="layer"] #emoji-picker-tab-panel[class*="wrapper"] {
  background: transparent !important;

  [class*="emojiItem"] {
    transition: transform 0.2s ease-in-out;
  }
  [class*="emojiItemSelected"] {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
  }
  [class*="emojiPicker"] > [class*="wrapper"] {
    background: rgba(0, 0, 0, 0.9);
  }
}

//new thread popout
[class^="threadSidebar"] {
  background: rgba(0, 0, 0, 0.95);
}

//Threads popout
[class*="layer"] [class*="browser"] {
  background: rgba(0, 0, 0, 0.95) !important;
}

[class*="hasThread"] [class*="cta"] {
  color: var(--accent-color) !important;
}

//Unread & Day chat dividers
[class*="messagesWrapper"] [class*="content"] [class*="divider"] {
  border-color: transparent;
  background-color: transparent !important;
  margin-top: 35px;
  margin-bottom: 35px;

  //Unread divider date
  [class*="content"] {
    color: var(--accent-saturated) !important;
    width: 95%;
    transform: translateY(6px);
  }

  &:not([class*="isUnread"]) > span {
    color: rgba(255, 255, 255, 0.7) !important;
    background: rgba(204, 204, 204, 0.1) !important;
    font-size: 14px;
    border-radius: 5px;
    padding: 7px 15px;
    text-align: center;
    width: 90%;
  }

  [class*="isUnread"] {
    background: transparent !important;
    color: var(--accent-saturated) !important;
    width: 95%;
    transform: translateY(6px);
  }
}

[class*="unreadPill"] {
  background: var(--main-color-semitransparent) !important;
  color: var(--accent-saturated) !important;
  padding: 12px 0px;
  width: 100%;
  font-size: 14px;
}

[class*="unreadPillCap"] {
  visibility: hidden;
}

//Chat status picker background and transitions
[id^="status-picker"] {
  transition: background 200ms ease-out;
}
#account-status-picker {
  &--online {
    color: #43b581;
    &[class*="focused"] {
      background: #43b58244;
    }
  }

  &--idle {
    color: #faa61a;
    &[class*="focused"] {
      background: #faa81a42;
    }
  }

  &--dnd {
    color: #f04747;
    &[class*="focused"] {
      background: #b83a3c3d;
    }
  }

  &--invisible {
    color: #747f8d;
    &[class*="focused"] {
      background: #747f8d3d;
    }
  }

  &--custom-status[class*="focused"] {
    background: #ff4db53d;
  }
}

//New messages bar
[class^="newMessagesBar_"] {
  background: var(--main-color) !important;
  padding: 3px 0;
  border-color: transparent !important;
}
//Old messages bar
[class^="jumpToPresentBar_"] {
  background: var(--accent-desaturated) !important;
  padding: 3px 0;
  border-color: transparent !important;
}

//Server invite field on chat
[id^="message-accessories_"] > [class*="wrapper"] {
  background: rgba(0, 0, 0, 0.2);
}
[id^="message-accessories_"] > [class*="wrapper"] [class*="guildIconImage"] {
  background-color: rgba(0, 0, 0, 0.2);
}

//upper right search (transition)
[class*="title"] [class*="search"] {
  order: 1;
  margin-left: 4px;

  [class*="search"]:not([class*="open"]) {
    [class*="searchBar"] {
      width: 27px;
      transition: 250ms;
      background: transparent;
      border-bottom: 2px solid transparent;

      [class*="iconContainer"] {
        transform: scale(1.3);
        transition: 250ms;

        [class*="icon"] {
          color: var(--interactive-normal);
        }
      }
    }
    &:hover [class*="searchBar"] {
      width: 240px;
      background: rgba(0, 0, 0, 0.15);

      [class*="iconContainer"] {
        transform: scale(1);

        [class*="icon"] {
          color: var(--text-muted);
        }
      }
    }
  }
}

//Search input filters and pseudo answers
[class*="DraftEditor"] {
  [class*="searchFilter"],
  [class*="searchAnswer"] {
    background: var(--main-color);
  }
}

//Search modal popout
[id*="popout"] > [class*="container"] {
  background: rgba(0, 0, 0, 0.95);
  box-shadow: none !important;

  [class*="resultsGroup"] {
    text-align: center;

    [class*="selected"],
    [class*="option"]:hover {
      background: var(--main-color-semitransparent-selected);
    }

    &::before,
    [class*="option"]::after {
      visibility: hidden !important;
    }
  }
  [class*="queryContainer"] {
    background: rgba(0, 0, 0, 9);

    span {
      background: var(--main-color);
    }
  }
  [class*="searchLearnMore"] {
    display: none;
  }
}

//Search modal popout date picker (wrapper)
[class*="datePicker"] {
  background: rgba(0, 0, 0, 0.9) !important;

  [class*="hintValue"] {
    margin-left: 5px;
    @include m.btred_important;
  }
}
//Search modal popout date picker (divs inside)
[class*="react-datepicker"] {
  background: transparent !important;

  [class*="month"] > [class*="week"] {
    [class*="day"]:not([class*="day--disabled"]) {
      background: var(--main-color-semitransparent) !important;

      &:hover {
        background: var(--main-color-semitransparent-selected) !important;
      }
    }

    [class*="selected"] {
      background: var(--main-color-semitransparent-selected) !important;

      &::after {
        background: var(--main-color-semitransparent-selected) !important;
      }
    }

    [class*="outside-month"]:not([class*="day--disabled"]) {
      background: var(--main-color-semitransparent) !important;
      opacity: 0.3 !important;
    }
  }
}

//Search results
[class*="searchResultsWrap"] {
  [class*="channelSeparator"] {
    [class*="channelName"] {
      background: transparent;
      text-align: right !important;
      border-radius: 8px;
      padding: 5px !important;

      &:hover {
        background: var(--main-color-semitransparent-selected);
        text-decoration: none;
      }
    }
  }

  [class*="searchHeader"] {
    background: rgba(0, 0, 0, 0.3) !important;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  [class*="searchResult"] {
    &[class*="expanded"] {
      border-color: transparent !important;
      border-bottom: 1px solid rgba(255, 255, 255, 0.04) !important;
      background: rgba(0, 0, 0, 0.1) !important;
      opacity: 1;
    }

    [class*="searchResultMessage"] {
      &[class*="after"],
      &[class*="before"] {
        opacity: 0.15 !important;
      }
    }
  }
}
[class*="actionButtons"] [class*="jumpButton"] {
  background: rgba(0, 0, 0, 0.3) !important;
  border-radius: 3px !important;
  color: var(--button-text) !important;

  &:hover {
    background: rgba(0, 0, 0, 0.6) !important;
    color: var(--button-text-selected) !important;
  }
}
//pages of search results
[class*="pageControlContainer"] {
  background: rgba(0, 0, 0, 0.3) !important;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  [class*="activeButton"] {
    background: var(--main-color) !important;
  }

  [class*="roundButton"]:not([class*="activeButton"]):hover {
    background: var(--main-color-semitransparent) !important;
  }
}

//message highlight after searching and jumping to
[class*="backgroundFlash"] {
  background: transparent !important;

  li {
    background: var(--accent-color-semitransparent) !important;
    border-radius: 5px 0 0 5px;
  }
}

[class*="replyBar"] {
  background: rgba(0, 0, 0, 0.1);
  margin-top: 8px;

  [class*="colorLink"] {
    color: var(--button-text);
  }
}

//Chat attachment scroller (after u hover file over discord and put it)
[class*="channelAttachmentArea"] > li {
  background: rgba(0, 0, 0, 0.1) !important;

  [class*="actionBar"] [class*="wrapper"] {
    background: rgba(0, 0, 0, 0.7) !important;
  }
}

code {
  background: rgba(0, 0, 0, 0.2) !important;
  .hljs-keyword {
    color: var(--accent-desaturated) !important;
  }
  .hljs-title {
    color: var(--accent-saturated) !important;
  }
  .hljs-literal {
    color: var(--main-color-selected) !important;
  }
  .hljs-string {
    color: var(--button-text) !important;
  }
  .hljs-attribute {
    color: var(--accent-desaturated) !important;
  }
  .hljs-selector-class {
    color: var(--accent-saturated) !important;
  }
  .hljs-number {
    color: var(--main-color-selected) !important;
  }
  .hljs-selector-tag {
    color: var(--accent-desaturated) !important;
  }
}

//???
[class*="replying"] {
  background-color: rgba(0, 0, 0, 0.1) !important;

  &::before {
    left: 3px;
    border-radius: 5px 0 0 5px;
    background: var(--accent-saturated);
    border-left: 2px solid var(--accent-saturated);
  }
}
[class^="categoryFadeBlurple_"] {
  background: var(--main-color) !important;
}

[class*="chat"] form {
  margin: 0px;
}
