//Permissions viewer
#permissions-modal {
  background: rgba(0, 0, 0, 0.9) !important;
  div {
    background: rgba(0, 0, 0, 0.9) !important;
    div {
      background: rgba(0, 0, 0, 0.9) !important;
    }
  }
}

//ChannelDms
//message popout
.ChannelDms-channelpopout-popout {
  background: rgba(0, 0, 0, 0.95) !important;

  //X button
  & > [role="button"] {
    background-color: var(--main-color-semitransparent-selected) !important;
  }
  //collapse button
  & > button {
    background: rgba(0, 0, 0, 0.95) !important;
    border-radius: 5px !important;
  }
}
//server list header
.ChannelDms-channelmembers-wrap > [class*="header"] {
  background: rgba(0, 0, 0, 0.1) !important;
}

//Summaries (Vencord's)
[class*="messagesWrapper"] {
  [class*="topicsPillContainer"] {

    &::before {
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      z-index: -1;
      background: var(--app-background) center / cover no-repeat fixed;
      background-position: unset;
      -webkit-animation: fadeIn 2s ease-out;
      animation: fadeIn 2s ease-out;
    }
  }

  [class*="topicsDropdown"] {
    background: rgba(0, 0, 0, 0.95) !important;
  }

  [class*="summariesBetaTag"] {
    background: var(--main-color) !important;
  }
}