//Styling for new 'find stage' section in user homescreen
[class^="stageSection_"] {
  background: transparent;
}

[class^="nowPlayingSidebar_"] > [class^="container_"] {
  background: transparent !important;
}

[class^="stageSection_"] > [class^="container_"] > [class^="container_"] {
  background: rgba(0, 0, 0, 0.15);
}

[class^="stageSection_"] > [class^="container_"] > [class^="container_"]:nth-last-child(2) {
  background: transparent !important;
}

[class^="guildInfoContainer_"] > [class^="rightJustifiedContent_"] > div {
  background: var(--main-color) !important;
}
