@use "../core/mixins" as m;

//Friends page
[class*="base"] [class*="content"] [class*="container"]:not([class*="embedWrapper"]) {
  background: transparent;

  //remove redundant fade
  [class*="container"] > [class*="children"]::after {
    display: none;
  }

  //icons
  [class*="iconWrapper"] svg {
    color: rgba(255, 255, 255, 0.7);
  }

  //dividers
  [class*="divider"] {
    background-color: rgba(255, 255, 255, 0.1);
  }

  //buttons
  [class^="item"][tabindex="0"] {
    background: transparent;
    font-size: 17px;
  }
  [class^="item"]:not([tabindex="0"]):hover {
    background: transparent;
  }

  //Add Friend button
  [class^="item"][class*="addFriend"] {
    @include m.btAccept_important;    
  }

  //search field
  [class^="searchBar"] > [class^="inner"] {
    background: rgba(0, 0, 0, 0.2);
  }

  //adding friends page
  [class^="addFriendInputWrapper"] {
    background: rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0.9);
  }
  [class^="addFriendInputWrapper"] button {
    @include m.btred;
  }
}

//Active now section
[class*="nowPlayingColumn"] {
  [class^="scroller"] {
    border: 0;
  }
  [class*="itemCard"] {
    border: 0;
    background: rgba(0, 0, 0, 0.5) !important;

    [class*="body"] {
      background: transparent !important;

      [class*="separator"] {
        display: none;
      }
    }
  }
}

//friends list sidebar
[class^="content"] > [class^="channel"] [class^="interactive"]:hover {
  background: var(--main-color-semitransparent);
  color: var(--button-text);
}
[class^="content"] > [class^="channel"] [class^="interactive"][class*="selected"] {
  background: var(--main-color-semitransparent-selected);
  color: var(--button-text-selected);
}
