@use "../core/mixins" as m;

//various popouts
[id^="popout"] > div > {
  [class^="container"],
  [class^="popout"] {
    background: rgba(0, 0, 0, 0.95) !important;
  }
}

//unsaved changes popout
[class^="noticeRegion"] > [class^="container"] {
  background: rgba(0, 0, 0, 0.85) !important;
  box-shadow: none !important;
}

//being invited to server modal
[role="dialog"] [class^="contentWrapper"] {
  background: rgba(0, 0, 0, 0.95) !important;
}

//showing emoji details popout
[class^="popoutContainer"] {
  background: rgba(0, 0, 0, 0.95) !important;

  button {
    @include m.btred;
  }
}

//problems with connection animated modal
[class^="app-"] > [class*="fixClipping-"] {
  background: linear-gradient(#00000022, #000000ff) !important;
}

//Krisp noice cancellation popout
[class*="noiseCancellationPopout"] {
  background: rgba(0, 0, 0, 0.95) !important;
}

//Keyboard shortcuts modal
[class*="keyboardShortcutsModal"] {
  background: rgba(0, 0, 0, 0.95) !important;
}

//Where would u like to go? popout aka quickswitcher component
[class^="quickswitcher"] {
  height: 100% !important;
  box-shadow: none !important;
}
[class^="quickswitcher"] input {
  background: rgba(0, 0, 0, 0.95) !important;
}

//Random-located focus-locking popouts
[class*="focusLock"] [class*="root"] {
  background: rgba(0, 0, 0, 0.95) !important;
  box-shadow: none !important;

  [class*="directionRow"],
  [class*="body"],
  [class*="topSection"] {
    background: rgba(0, 0, 0, 0.95) !important;
  }

  [class*="avatar"] {
    border: none;
  }

  [class*="message"] {
    background: transparent !important;
    border: none !important;
  }
}

//live indicator in server channel/Active Now section in home screen
[class^="live-"][class*="textBadge"] {
  background: var(--main-color-selected) !important;
  color: var(--button-text) !important;
}

//notice at the top of the screen (i.e. when u didnt complete steps before talking on server)
div[class^="notice"] {
  color: var(--button-text) !important;
  background: var(--main-color-semitransparent);
  button {
    color: var(--button-text) !important;
    background: var(--main-color-semitransparent) !important;

    &:hover {
      color: var(--button-text-selected) !important;
      background: var(--main-color-semitransparent-selected) !important;
    }
  }
}

//"Invite People" button after clicking on some server/channel/servername with right click
#guild-context-invite-people:not(:hover),
#channel-context-invite-people:not(:hover),
#guild-header-popout-invite-people:not(:hover) {
  color: var(--accent-color);
}

//FlowerStar aka Verified SVG ICON
[class^="flowerStar-"] > path {
  fill: var(--accent-saturated) !important;
}
[class^="flowerStar-"] + [class^="child"] path {
  fill: #ffffff !important;
}

//AKA badge
[class^="akaBadge-"] {
  background: var(--main-color) !important;
  color: var(--button-text) !important;
}

//Rotate home icon
[class*="homeIcon"] {
  transform: rotate(-180deg);
}

//Home icon recolor
[data-list-item-id="guildsnav___home"]:hover > div,
[data-list-item-id="guildsnav___home"][class*="selected"] > div {
  background: var(--main-color) !important;
}

//Remove discord support button from upper right corner
[href='https://support.discord.com']
{
  display: none !important;
}
//Remove notification bell from upper right corner
[class*="title"] > [class^="toolbar"] > [class*="icon"]:nth-child(2) {
  display: none !important;
}

//Bot icon

//bot icon on server user list
[class*="nameAndDecorators"] {
  //making it stick to the right
  //justify-content: space-between;
  [class*="botTagRegular"] {
    transform: translateY(-2px);
  }
}
//icon container
[class*="botTagRegular"] {
  background: transparent !important;
  position: relative;
  width: 20px !important;
  height: 20px !important;
  margin-top: 0 !important;
  padding: 0 !important;

  //after clicking on bot profile - bot without custom nick
  &:not([class*="WithNickname"]) {
    top: 0px;
    right: 0px;
  }

  //after clicking on bot profile - bot with custom nick
  &[class*="WithNickname"] {
    position: absolute;
    transform: translateY(-4px);
  }

  //getting rid of "BOT" text
  [class*="botText"] {
    display: none;
  }

  //icon
  &::after {
    background: url(https://przemec.github.io/Novum/assets/icons/bot.svg) !important;
    background-size: cover !important;
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0px;
    right: 0px;
    opacity: 0.8;
  }

  //verified bot check icon
  & > svg {
    color: #fff;
    transform: translate(18px, -5px);
    z-index: 2;
  }
}

//Cards in settings, servers discover page, etc.
//[class*="justify"] - cards in keybinds and activity status settings
[class*="card-"]:not([class*="justify"]) {
  background: rgba(0, 0, 0, 0.3) !important;
  border-color: #000000 !important;
}
[class*="card-"][class*="justify"] {
  box-shadow: none;
}

[class*="mediaBarWrapper"] {
  [class*="fakeEdges"] {
    background: var(--main-color);

    &::after,
    &::before {
      background: var(--main-color);
    }
  }

  [class*="mediaBarProgress"] {
    background: var(--main-color);

    &::after,
    &::before {
      background: var(--main-color);
    }

    [class*="mediaBarGrabber"] {
      background: var(--main-color);
    }
  }

  [class*="bubble"] {
    background: var(--main-color);
  }
}

[class*="embedVideo"] {
  [class*="playPausePop"] {
    display: none !important;
  }
}

[class*="streamPreviewWrapper"] [class*="streamPreview"] {
  [class*="previewContainer"] {
    background: transparent !important;
    border: transparent;
  }

  background: rgba(0, 0, 0, 0.95) !important;
  border: transparent;
}

//Replace discord wordmark with theme name
[class*="wordmark"] {
  svg {
    display: none;
  }

  &::before,
  &::after {
    height: 16px;
    font-family: var(--font-primary);
  }
  &::before {
    content: "Novum";
    color: rgba(255, 255, 255, 0.5);
    margin-left: 2px;
    font-size: 16px;
    font-weight: bold;
  }
  &::after {
    content: "v5.5.8";
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
    margin-left: 8px;
  }
}

//Add novum icon into settings
[class*="socialLinks"]::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  margin-top: -5px;
  margin-left: 6px;
  background: url(https://przemec.github.io/Novum/assets/images/NovumLogo.png) center/cover no-repeat;
  filter: contrast(0%) brightness(1.4);
}

//Replace discord light theme with dark theme variables
.theme-light {
  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --text-normal: #dcddde;
  --text-muted: #72767d;
  --text-link: hsl(197, calc(var(--saturation-factor, 1) * 100%), 47.8%);
  --text-link-low-saturation: hsl(197, calc(var(--saturation-factor, 1) * 100%), 52.9%);
  --text-positive: hsl(139, calc(var(--saturation-factor, 1) * 66.8%), 58.6%);
  --text-warning: hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%);
  --text-danger: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
  --text-brand: hsl(235, calc(var(--saturation-factor, 1) * 86.1%), 77.5%);
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: #4f545c;
  --background-primary: #36393f;
  --background-secondary: #2f3136;
  --background-secondary-alt: #292b2f;
  --background-tertiary: #202225;
  --background-accent: #4f545c;
  --background-floating: #18191c;
  --background-nested-floating: #2f3136;
  --background-mobile-primary: #36393f;
  --background-mobile-secondary: #2f3136;
  --background-modifier-hover: rgba(79, 84, 92, 0.16);
  --background-modifier-active: rgba(79, 84, 92, 0.24);
  --background-modifier-selected: rgba(79, 84, 92, 0.32);
  --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
  --info-positive-text: #fff;
  --info-warning-text: #fff;
  --info-danger-text: #fff;
  --info-help-background: hsla(197, calc(var(--saturation-factor, 1) * 100%), 47.8%, 0.1);
  --info-help-foreground: hsl(197, calc(var(--saturation-factor, 1) * 100%), 47.8%);
  --info-help-text: #fff;
  --status-warning-text: #000;
  --scrollbar-thin-thumb: #202225;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #202225;
  --scrollbar-auto-track: hsl(210, calc(var(--saturation-factor, 1) * 9.8%), 20%);
  --scrollbar-auto-scrollbar-color-thumb: #202225;
  --scrollbar-auto-scrollbar-color-track: #2f3136;
  --elevation-stroke: 0 0 0 1px rgba(4, 4, 5, 0.15);
  --elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
  --elevation-medium: 0 4px 4px rgba(0, 0, 0, 0.16);
  --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
  --logo-primary: #fff;
  --control-brand-foreground: hsl(235, calc(var(--saturation-factor, 1) * 86.1%), 77.5%);
  --control-brand-foreground-new: hsl(235, calc(var(--saturation-factor, 1) * 86.1%), 77.5%);
  --background-mentioned: hsla(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%, 0.1);
  --background-mentioned-hover: hsla(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%, 0.08);
  --background-message-hover: rgba(4, 4, 5, 0.07);
  --channels-default: #8e9297;
  --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  --channeltextarea-background: #40444b;
  --activity-card-background: #202225;
  --textbox-markdown-syntax: #8e9297;
  --deprecated-card-bg: rgba(32, 34, 37, 0.6);
  --deprecated-card-editable-bg: rgba(32, 34, 37, 0.3);
  --deprecated-store-bg: #36393f;
  --deprecated-quickswitcher-input-background: #72767d;
  --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
  --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
  --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;

  --background-primary: transparent !important;
  --background-accent: var(--main-color);
  --background-secondary: transparent !important;
  --background-secondary: transparent !important;
  --background-secondary-alt: transparent !important;
  --background-tertiary: rgba(0, 0, 0, 0.1) !important;
  --background-modifier-hover: rgba(255, 255, 255, 0.05) !important;
  --background-modifier-active: rgba(255, 255, 255, 0.05) !important;
  --background-modifier-selected: rgba(255, 255, 255, 0.1) !important;
  --scrollbar-auto-thumb: var(--scroll-thumb-color);
  --scrollbar-thin-thumb: var(--scroll-thumb-color);
  --scrollbar-auto-track: rgba(0, 0, 0, 0.1) !important;
  --scrollbar-thin-track: transparent !important;
  --text-link: var(--accent-color);
  --text-muted: rgba(255, 255, 255, 0.5);
  --brand-experiment: var(--main-color);
  --control-brand-foreground: var(--main-color);
  --channels-default: rgba(255, 255, 255, 0.7);
  --header-secondary: rgba(255, 255, 255, 0.7);
  --interactive-muted: rgba(255, 255, 255, 0.3);
  --background-floating: rgba(0, 0, 0, 0.9);
  --background-modifier-accent: rgba(255, 255, 255, 0.1); //color of various 1px borders/dividers
}
