//Server header name
header h1[class^="name"] {
  font-size: 18px;
  font-weight: bold;
  line-height: 55px;
}
[class^="sidebar"] [class*="selected"] header {
  background: transparent;
}

//popout after clicking server name, focused option
[class*="labelContainer"] svg {
  transition: transform 0.2s ease-in-out;
}
[class*="labelContainer"][class*="focused"] {
  background: var(--main-color) !important;
  svg {
    transform: scale(1.2);
  }
}

// Server channel tabbaritem
[class*="tabBarItem"]:hover {
  border-bottom-color: var(--main-color-selected) !important;
}

[class*="tabBarItem"][class*="da-selected"] {
  border-bottom-color: var(--main-color) !important;
}

//server channels list icons
[class*="sidebar"] [class*="containerDefault"] {
  [class*="icon"] {
    color: rgba(255, 255, 255, 0.6) !important;
    & > path {
      opacity: 0.6;
    }
    & > path:last-of-type {
      opacity: 0.9;
    }
  }

  [class*="content"]:hover {
    background: transparent !important;
  }

  //muted channel
  [class*="modeMuted"] [class*="name"] {
    color: rgba(255, 255, 255, 0.5);
  }
  //muted category
  [class*="muted"] [class*="name"] {
    color: rgba(255, 255, 255, 0.5);
  }
  //selected channel
  & [class*="modeSelected"] [class*="link_"] {
    background: var(--main-color-semitransparent-selected) !important;
  }
  & [class*="modeSelected"] [class*="name_"] {
    color: #ffffff !important;
  }
  &:hover [class*="modeSelected"] [class*="link_"] {
    background: var(--main-color-semitransparent-selected) !important;
  }

  //Remove redundant create invite icon from channel list
  [class^="children"] > [class^="icon"]:nth-last-child(2) {
    display: none !important;
  }
}

[data-list-item-id*="active-threads"] {
  [class*="name"],
  [class*="icon"] {
    color: var(--button-text) !important;
  }
}

//user speaking
[class*="avatarSpeaking"] {
  box-shadow: inset 0 0 0 2px var(--accent-color), inset 0 0 0 3px var(--accent-color-semitransparent);
}
[class*="avatarSpeaking"]::before {
  content: "";
  z-index: -10 !important;
  position: absolute;
  left: 20px;
  height: 24px;
  width: 60%;
  border-radius: -5px;
  background: linear-gradient(to right, var(--accent-color-semitransparent), transparent);
  opacity: 1;
  border-color: transparent;
  filter: brightness(10);
}

//Userlimit on voice chat
[class*="userLimit"] {
  & > [class*="wrapper"] {
    border-radius: 5px !important;
  }

  [class*="total"] {
    color: var(--accent-saturated);
    background: rgba(0, 0, 0, 0.6) !important;

    &::after {
      border-right-color: rgba(0, 0, 0, 0.4) !important;
    }
  }

  [class*="users"] {
    color: var(--accent-color);
    background: rgba(0, 0, 0, 0.3) !important;
  }
}

nav[class*="container"] > [class*="container"] > header:hover {
  background: transparent !important;
}

[class*="layer"] [class*="animator"] [class*="container"][class*="scrollerBase"] {
  background: rgba(0, 0, 0, 0.95) !important;
}

[class*="panels"] {
  border-top: 1px solid var(--background-modifier-accent);

  //game activity panel
  & > [class*="activityPanel"],
  //profile settings panel
  & > [class*="container"] {
    border: 0;
    button:hover {
      background: rgba(0, 0, 0, 0.2) !important;
    }
  }
  & > [class*="wrapper"] > [class*="container"] {
    border: 0;
  }

  //Video & Screen buttons backgrounds
  [class*="actionButtons"] button {
    background: var(--main-color-semitransparent) !important;
    color: var(--button-text) !important;
    &:hover {
      background: var(--main-color-semitransparent-selected) !important;
      color: var(--button-text-selected) !important;
    }
  }
}

//Create voice|text channel popout
[class*="focusLock"] [class*="modal"] {
  background: rgba(0, 0, 0, 0.95) !important;

  [class*="horizontalReverse"] {
    background: rgba(0, 0, 0, 0.95) !important;
  }

  [class*="radioBar"] > div:not([class*="info"]) circle {
    fill: var(--main-color) !important;
  }
}
