//Server boost status tiers
[class*="tierHeaderLocked"] {
  background: var(--profile-background), rgba(0, 0, 0, 0.95) !important;
}

[class*="tierBody"] {
  background: var(--profile-background), rgba(0, 0, 0, 0.95) !important;
}

//Circlebutton (roles settings)
[class*="circleButton"] {
  background-color: var(--main-color-semitransparent) !important;

  &:hover {
    background-color: var(--main-color-semitransparent-selected) !important;
  }
}
