@use "../core/mixins" as m;

[class^="content"] > [class^="sidebar"]::after,
[class^="content"] > [class^="sidebar"] [class*="guilds"] {
  background: transparent;
}

//Server list scroller
[class^="scroller_"] {
  background: transparent !important;
}

//Servers list
[class*="wrapper"][class*="guilds"] {
  [class*="listItemWrapper"] > a {
    background: rgba(0, 0, 0, 0.6);
    border-color: var(--accent-saturated);
    color: var(--accent-saturated);

    &:hover {
      background: rgba(0, 0, 0, 0.7);
    }
  }

  //server folders
  [class*="folder"],
  [class*="closedFolderIconWrapper"],
  [class*="expandedFolderBackground"] {
    background: transparent !important;
  }
  [class*="folderIconWrapper"],
  [class*="expandedFolderBackground"]:not([class*="collapsed"]) {
    background: rgba(0, 0, 0, 0.3) !important;
    border-radius: 20px;
  }

  //server discovery and add server buttons
  [class*="circleIconButton"] {
    background: rgba(0, 0, 0, 0.3) !important;
    color: var(--accent-saturated);
  }
  //server discovery background
  [class^="footer"] {
    background: transparent;
  }

  //"public" bd button, server without image icon, server with transparent icon
  #bd-pub-button,
  foreignObject > [class^="wrapper"] > [class*="childWrapper"],
  foreignObject > [class^="wrapper"] > img {
    background-color: rgba(0, 0, 0, 0.3) !important;
  }
  foreignObject > [class^="wrapper"][class*="selected"] > [class*="childWrapper"] {
    background-color: var(--main-color) !important;
  }
}

//unread messages indicator
[class^="unreadMentionsIndicator"] > [class*="bar"] {
  background: var(--main-color);
}

//Server folder edit popout
//Custom color picker (server folder settings)
[class*="colorPickerCustom"] {
  background: rgba(0, 0, 0, 1) !important;
  border-color: transparent;
}
//default color of folder - in folder settings
button[style="background-color: rgb(88, 101, 242);"] {
  background: var(--accent-color) !important;
}
//default color of folder - on server list
svg[style="color: rgb(88, 101, 242);"] path {
  fill: var(--accent-color);
}

//Create a server popout
[class*="header"] h3 {
  color: rgba(255, 255, 255, 0.8);
}
[class*="footer"] h3 {
  color: rgba(255, 255, 255, 0.8);
}
[class*="footerButton"] {
  @include m.btred_important;
}

//moving server horizontal bar + circle while hovering it over folder
[class^="listItem"] > [class^="wrapper"] {
  & > [class*="target"]::before,
  & > [class*="centerTarget"]::before {
    background: var(--accent-color);
  }
}
