@use "../core/mixins" as m;

//Servers list
[class*="wrapper"][class*="guilds"] {
  [class*="listItemWrapper"] > a {
    background: rgba(0, 0, 0, 0.6);
    border-color: var(--markup-intensive);
    color: var(--markup-intensive);

    &:hover {
      background: rgba(0, 0, 0, 0.7);
    }
  }

  //server folders
  [class*="folder"],
  [class*="closedFolderIconWrapper"],
  [class*="expandedFolderBackground"] {
    background: transparent !important;
  }
  [class*="folderIconWrapper"],
  [class*="expandedFolderBackground"]:not([class*="collapsed"]) {
    background: rgba(0, 0, 0, 0.3) !important;
    border-radius: 20px;
  }

  //server discovery and add server buttons
  [class*="circleIconButton"] {
    background: rgba(0, 0, 0, 0.3) !important;
    color: var(--markup-intensive);
  }

  //"public" bd button, server without image icon
  #bd-pub-button,
  [class^="wrapper"] > [class*="childWrapper"] {
    background: rgba(0, 0, 0, 0.3) !important;
  }

  //connected to voicechat icon badge
  [class*="iconBadge"] {
    background: var(--bt-red) !important;
  }
  //unread messages count badge
  [class*="numberBadge"] {
    background: var(--bt-red) !important;
  }
}

//"Invite People" button after clicking on server with right click
#guild-context-invite-people:not(:hover) {
  color: var(--markup-normal);
}

//unread messages indicator
[class^="unreadMentionsIndicator"] > [class*="bar"] {
  background: var(--bt-red);
}

//Server folder edit popout
//Custom color picker (server folder settings)
[class*="colorPickerCustom"] {
  background: rgba(0, 0, 0, 1) !important;
  border-color: transparent;
}

//All folders have same colors
svg[style*="color: "] path {
  fill: var(--markup-normal);
}

//Create a server popout
[class*="header"] h3 {
  color: var(--bt-text);
}
[class*="footer"] h3 {
  color: var(--bt-text);
}
[class*="footerButton"] {
  @include m.btred_important;
}
