@use "../core/mixins" as m;

//semi-transparent radiocheckbox horizontal fields (green, orange and red)
[role="radiogroup"] [aria-checked="true"] [style*="green"] {
  background: rgba(0, 230, 77, 0.2) !important;
}
[role="radiogroup"] [aria-checked="true"] [style*="yellow"] {
  background: rgba(255, 153, 0, 0.2) !important;
}
[role="radiogroup"] [aria-checked="true"] [style*="red"] {
  background: rgba(244, 40, 40, 0.2) !important;
}

//semi-transparent radiocheckbox horizontal fields (not colored ones)
[role="radiogroup"] {
  & > [class*="item"] {
    background: rgba(0, 0, 0, 0.1);
  }
  & > [class*="item"]:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  & > [class*="item"][aria-checked="true"] {
    background: rgba(0, 0, 0, 0.4);

    [class*="radioBar"] div:not([class*="info"]) circle {
      fill: rgb(255, 255, 255);
    }
  }
}

//"Devices" settings
[class*="-session"] > [class*="-sessionIcon"] {
  background: rgba(0, 0, 0, 0.1) !important;
  color: rgba(255, 255, 255, 0.7) !important;
}

//"Connections" settings
[class*="-connectedAccounts"] > [class*="-wrapper"] {
  background: rgba(0, 0, 0, 0.3) !important;
  border: 1px solid #000000 !important;
  border-radius: 5px;
  transition: transform 200ms ease-in-out;
  &:hover {
    transform: scale(1.05);
    background: rgba(0, 0, 0, 0.8) !important;
  }
}
[class*="-connectionList"] > [class*="-connection"] {
  background: rgba(0, 0, 0, 0.3) !important;
  border: 1px solid #000000 !important;
  border-radius: 10px;
}

//"Accessibility" settings
[class*="-slider"] > [class*="-track"] > [class*="-mark"] {
  [class*="-markValue"] {
    color: rgba(255, 255, 255, 0.5) !important;
  }
  [class*="-markDash"] {
    background: rgba(255, 255, 255, 0.5) !important;
  }
}

//"Keybinds" settings
[class*="keybindGroup"] button {
  @include m.btred_important;
}
[class*="removeKeybind"] {
  background-color: var(--main-color-selected);
}

//"Activity status" settings
[class*="-children"] [class*="notDetected_"] {
  background: rgba(0, 0, 0, 0.3) !important;
}
[class*="-children"] [class*="nowPlaying_"] {
  background: rgba(0, 255, 128, 0.2) !important;
}
[class*="-addGamePopout"] {
  background: rgba(0, 0, 0, 0.9) !important;
  box-shadow: none !important;
}
[id*="-popout"] [class*="searchableSelect"] {
  background: rgba(0, 0, 0, 0.95) !important;
  box-shadow: none !important;
}
//added games list
[class*="-lastPlayed"] {
  color: rgba(255, 255, 255, 0.5) !important;
}
[class*="-overlayToggleIconOn"] path {
  fill: rgba(255, 255, 255, 0.5) !important;
}
[class*="-overlayToggleIconOff"] path,
[class*="-overlayToggleIconOff"] rect {
  fill: var(--main-color) !important;
}
//X after hover
[class*="removeGame"] {
  background-color: var(--main-color-semitransparent-selected) !important;
}
//overlay text after hover
[class*="-overlayStatusText"] {
  color: rgba(255, 255, 255, 0.5) !important;
}

//"Game overlay" settings - overlay notification labels
[class*="notificationSettings"] {
  //picking one of 4 corners
  label:not([class*="selected"], [class*="disabled"]) {
    background: rgba(255, 255, 255, 0.5);
  }
  label:not([class*="selected"], [class*="disabled"]):hover {
    background: rgba(255, 255, 255, 0.7);
  }
  label[class*="selected"]:not([class*="disabled"]) {
    background: var(--main-color);
    border-color: transparent;
    box-shadow: none;
  }

  //picking disabled
  [class*="disabledSelected"] {
    border-color: var(--main-color) !important;
  }
  label[class*="disabled"] path:last-child {
    fill: rgba(255, 255, 255, 0.5);
  }
  label[class*="disabled"]:hover path:last-child {
    fill: rgba(255, 255, 255, 0.7);
  }
  label[class*="selected"][class*="disabled"] path:last-child {
    fill: var(--main-color) !important;
  }
}

[class*="accountProfileCard"] {
  background: var(--profile-background), rgba(0, 0, 0, 0.95) !important;

  [class*="fieldButton_"] {
    @include m.btred_important;
  }
}

[class*="profileBannerPreview"] {
  background: var(--profile-background), rgba(0, 0, 0, 0.95) !important;
}

[class*="-standardSidebarView"] > [class*="-sidebarRegion"] [class*="-info"] > * {
  color: rgba(255, 255, 255, 0.5);
}

//Settings sidebar
[class*="-standardSidebarView"] > [class*="-sidebarRegion"] [class*="-sidebar"] [class*="item"] {
  //items in sidebar
  &:hover {
    background: var(--main-color-semitransparent) !important;
    color: var(--button-text) !important;
  }
  &[class*="selected"] {
    background: var(--main-color-semitransparent-selected) !important;
    color: var(--button-text-selected) !important;
  }
  [class*="selectedBackground"] {
    background: transparent !important;
  }
}

[class*="-standardSidebarView"] > [class*="-sidebarRegion"] [class*="-sidebar"] [class*="item"]::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.3;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  background-size: cover !important;
}
[class*="-standardSidebarView"] > [class*="-sidebarRegion"] [class*="-sidebar"] [class*="selected"]::after {
  opacity: 0.7;
}
