@use "../core/mixins" as m;

//semi-transparent radiocheckbox horizontal fields (green, orange and red)
[role="radiogroup"] [aria-checked="true"] [style*="hsl(139"] {
  background: rgba(0, 230, 77, 0.3) !important;
}
[role="radiogroup"] [aria-checked="true"] [style*="hsl(37"] {
  background: rgba(255, 153, 0, 0.3) !important;
}
[role="radiogroup"] [aria-checked="true"] [style*="hsl(359"] {
  background: rgba(244, 40, 40, 0.3) !important;
}

//semi-transparent radiocheckbox horizontal fields (not colored ones)
[role="radiogroup"] {
  & > [class*="item"] {
    background: rgba(0, 0, 0, 0.1);
  }
  & > [class*="item"]:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  & > [class*="item"][aria-checked="true"] {
    background: rgba(0, 0, 0, 0.4);

    [class*="radioBar"] div:not([class*="info"]) circle {
      fill: rgb(255, 255, 255);
    }
  }
}

//"Keybinds" settings
[class*="keybindGroup"] button {
  @include m.btred_important;
}
[class*="removeKeybind"] {
  background-color: var(--main-color-selected);
}

//"Connections" settings
[class^="connectedAccounts"] > [class^="wrapper"] {
  background: rgba(0, 0, 0, 0.3) !important;
  border: 1px solid #000000 !important;
  border-radius: 5px;
  transition: transform 200ms ease-in-out;
  &:hover {
    transform: scale(1.05);
    background: rgba(0, 0, 0, 0.8) !important;
  }
}
[class^="connectionList"] > [class^="connection"] {
  background: rgba(0, 0, 0, 0.3) !important;
  border: 1px solid #000000 !important;
  border-radius: 10px;
}

//"Accessibility" settings
[class^="slider-"] > [class^="track-"] > [class^="mark-"] {
  [class^="markValue-"] {
    color: rgba(255, 255, 255, 0.5) !important;
  }
  [class^="markDash-"] {
    background: rgba(255, 255, 255, 0.5) !important;
  }
}

//"Game overlay" settings - overlay notification labels
[class*="notificationSettings"] {
  [class*="selected"]:not([class*="disabled"]) {
    background: var(--main-color);
    border-color: transparent;
    box-shadow: none;
  }

  label:not([class*="selected"], [class*="disabled"]):hover {
    background: var(--main-color-selected);
  }
}

[class*="accountProfileCard"] {
  background: var(--profile-background), rgba(0, 0, 0, 0.95) !important;

  [class*="fieldButton-"] {
    @include m.btred_important;
  }
}

[class*="profileBannerPreview"] {
  background: var(--profile-background), rgba(0, 0, 0, 0.95) !important;
}

[aria-label="USER_SETTINGS"] [class^="info-"] > * {
  color: rgba(255, 255, 255, 0.5);
}

//Settings sidebar
[aria-label="USER_SETTINGS"] [class^="sidebar-"] [class*="item"] {
  //Space for icons
  padding-left: 50px !important;

  //items in sidebar
  &:hover {
    background: var(--main-color-semitransparent) !important;
    color: var(--button-text) !important;
  }
  &[class*="selected"] {
    background: var(--main-color-semitransparent-selected) !important;
    color: var(--button-text-selected) !important;
  }
  //discord nitro item
  &[aria-controls="discord-nitro-tab"] svg {
    display: none;
  }
  [class*="selectedBackground"] {
    background: transparent !important;
  }
}

[aria-label="USER_SETTINGS"] [class^="sidebar-"] [class*="item"]::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.3;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  background-size: cover !important;
}
[aria-label="USER_SETTINGS"] [class^="sidebar-"] [class*="selected"]::after {
  opacity: 0.7;
}

//User Settings icons
[aria-controls="my-account-tab"]::after {
  background: url(https://przemec.github.io/Novum/assets/icons/person.svg) !important;
}
[aria-controls="profile-customization-tab"]::after {
  background: url(https://przemec.github.io/Novum/assets/icons/person-box.svg) !important;
}
[aria-controls="privacy-&-safety-tab"]::after {
  background: url(https://przemec.github.io/Novum/assets/icons/security.svg) !important;
}
[aria-controls="authorized-apps-tab"]::after {
  background: url(https://przemec.github.io/Novum/assets/icons/apps.svg) !important;
}
[aria-controls="connections-tab"]::after {
  background: url(https://przemec.github.io/Novum/assets/icons/link.svg) !important;
}

//Billing Settings icons
[aria-controls="discord-nitro-tab"]::after {
  background: url(https://discordapp.com/assets/df0e29b16d71bdad333880b2488075be.svg) !important;
}
[aria-controls="nitro-server-boost-tab"]::after {
  background: url(https://discordapp.com/assets/5a24b20b84fb3eafc138916729386e76.svg) !important;
}
[aria-controls="subscriptions-tab"]::after {
  background: url(https://przemec.github.io/Novum/assets/icons/cash.svg) !important;
}
[aria-controls="library-inventory-tab"]::after {
  background: url(https://przemec.github.io/Novum/assets/icons/gift.svg) !important;
}
[aria-controls="billing-tab"]::after {
  background: url(https://przemec.github.io/Novum/assets/icons/Credit_card.svg) !important;
}

//App settings icons
[aria-controls="appearance-tab"]::after {
  background: url(https://przemec.github.io/Novum/assets/icons/looks.svg) !important;
}
[aria-controls="accessibility-tab"]::after {
  background: url(https://przemec.github.io/Novum/assets/icons/human.svg) !important;
}
[aria-controls="voice-&-video-tab"]::after {
  background: url(https://przemec.github.io/Novum/assets/icons/mic.svg) !important;
}

[aria-controls="text-&-images-tab"]::after {
  background: url(https://przemec.github.io/Novum/assets/icons/chat.svg) !important;
}
[aria-controls="notifications-tab"]::after {
  background: url(https://przemec.github.io/Novum/assets/icons/notifications.svg) !important;
}
[aria-controls="keybinds-tab"]::after {
  background: url(https://przemec.github.io/Novum/assets/icons/keyboard.svg) !important;
}
[aria-controls="language-tab"]::after {
  background: url(https://przemec.github.io/Novum/assets/icons/language.svg) !important;
}
[aria-controls="windows-tab"]::after {
  background: url(https://przemec.github.io/Novum/assets/icons/windows.svg) !important;
}
[aria-controls="streamer-mode-tab"]::after {
  background: url(https://przemec.github.io/Novum/assets/icons/videocam.svg) !important;
}
[aria-controls="advanced-tab"]::after {
  background: url(https://przemec.github.io/Novum/assets/icons/dots.svg) !important;
}
[aria-controls="game-activity-tab"]::after {
  background: url(https://przemec.github.io/Novum/assets/icons/gamepad.svg) !important;
}
[aria-controls="overlay-tab"]::after {
  background: url(https://przemec.github.io/Novum/assets/icons/desktop_windows.svg) !important;
}

//BDiscord icons
.bd-settings-tab::after {
  background: url(https://przemec.github.io/Novum/assets/icons/betterdiscord.svg) !important;
}
.bd-emotes-tab::after {
  background: url(https://przemec.github.io/Novum/assets/icons/emote.svg) !important;
}
.bd-customcss-tab::after {
  background: url(https://przemec.github.io/Novum/assets/icons/code.svg) !important;
}
.bd-plugins-tab::after {
  background: url(https://przemec.github.io/Novum/assets/icons/puzzle.svg) !important;
}
.bd-themes-tab::after {
  background: url(https://przemec.github.io/Novum/assets/icons/palette.svg) !important;
}

//Changelog & Hypesquad and Exit icons
[aria-controls="changelog-tab"]::after {
  background: url(https://przemec.github.io/Novum/assets/icons/history.svg) !important;
}
[aria-controls="hypesquad-online-tab"]::after {
  background-image: url(https://discordapp.com/assets/6c73f47daf179ffade99f501bfc5101b.svg) !important;
  background-size: cover;
}
[aria-controls="logout-tab"]::after {
  background: url(https://przemec.github.io/Novum/assets/icons/exit.svg) !important;
}
